.footer {
  width: 100%;
  background-color: rgb(241, 240, 240);
  box-shadow: $shadow;
}
.footer-container {
  width: 90%;
  margin: auto;
  // background: red;
  padding: 0.5rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 590px) {
  .footer-container ul {
    flex-direction: column;
    gap: 1rem;
  }
}
